$white : #fff;
$blue : #0068A1;
$grey-dark : #6B6B6B;
$light-blue : #2299FA;
$green : #77BD50;
$turquoise : #008674;
$red : #AE0917;
$orange : #F08C3E;
$pink :  #C31981;
$black : #2D3449;
$light-grey : #F3F3F5;
$error : #E3004F;
$purple : purple;
$dark-green: #5CBA9A;
$title-green: #8AC44C;
$sky-blue: #58D1E9;
$be: #BEBEBE;
$blue-hover: #007BBE;
$sky-blue-hover: #46D7F4;
$light-blue-hover: #35a6ff;
$green-hover: #83D157;
$pink-hover: #EB1F91;
$dark-green-hover: #69d6b1;
