.prevention-page {
  .prevention-block {
    padding: 33px 42px 38px;
    margin-top: 0;

    @include phone-only {
      padding: 33px 24px 38px;
    }

    .journal-content-article {
      padding-bottom: 20px;
    }

    &__title {
      color: #2D3449;
      font-family: Lato;
      font-size: 18px;
      font-weight: 900;
      line-height: 22px;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 6px;
    }

    .aced-link {
      color: #2D3449;
      font-family: Lato;
      font-size: 16px;
      font-weight: bold;
      line-height: 25px;
      display: table;
      width: auto;
      position: relative;
      cursor: pointer;
      margin-bottom: 25px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;

      &:last-child {

      }

      &:hover {
        color: $blue;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;

        &:before {
          background: $blue;
        }
      }

      &:before {
        content: '\f178';
        font-family: "FontAwesome";
        position: relative;
        text-align: center;
        display: inline-block;
        margin-right: 3px;
        font-weight: 300;
        font-size: 1.3rem;
        height: 24px;
        color: #fff;
        width: 24px;
        border-radius: 50px;
        background-color: $pink;
        line-height: 24px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
    }

    p {
      color: #2D3449;
      font-family: Lato;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
    }
  }

  .prevention-container{
    margin-top: 35px;
    &__img {
      float: left;
      height: auto;
      width: 180px;

      @include tablet-only {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }

      @include phone-only {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }

      img {
        width: 100%;
      }
    }

    .text-containet{
      padding-left: 35px;
      padding-top: 4px;
      float: left;
      width: 80%;

      @include tablet-only {
        width: 100%;
        padding-left: 0;
      }

      @include phone-only {
        width: 100%;
        margin-top: 15px;
        padding-left: 0;
      }

      h2 {
        color: #2D3449;
        font-family: Lato;
        font-size: 18px;
        line-height: 22px;
        text-transform: none;
        margin-bottom: 16px;
      }

      p {
        color: #2D3449;
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        text-align: left;
        margin-bottom: 11px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .article-container {
    padding-left: 23%;
    text-align: left;
    margin-top: 40px;

    @include tablet-only {
      padding-left: 0;
    }

    @include phone-only {
      padding-left: 0;
    }


    p {
      color: #2D3449;
      font-family: Lato;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
    }

    &__title {
      color: #2D3449;
      font-family: Lato;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 12px;
    }
    &__doc-list {
      .doc-linc {
        display: table;
        width: auto;
        position: relative;
        color: #2D3449;
        font-family: Lato;
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
        padding-top: 14px;
        padding-bottom: 8px;
        border-bottom: 1px solid lightgrey;

        &:last-of-type {
          border-bottom: none;
        }

        &:hover {
          color: $blue;
          text-decoration: none;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;

          .value {
            color: $blue;
          }

          &:last-of-type {
            &:after {
              display: none;
            }
          }

          &:before {
            background: $blue;
          }
        }
        &:before {
          content: '\f019';
          font-family: "FontAwesome";
          position: relative;
          text-align: center;
          display: inline-block;
          margin-right: 8px;
          font-weight: 300;
          font-size: 1.3rem;
          height: 24px;
          line-height: 24px;
          color: #fff;
          width: 24px;
          border-radius: 50px;
          background-color: #C31981;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
        }
      }

      .value {
        color: #2D3449;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        display: inline-block;
        margin-left: 4px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
      }
    }
  }

  .journal-content-article {
    padding-bottom: 20px;
  }
}